## CRS

**Observations**  
-Taux de remplissage  
-Distribution des datasets par EPSG

In [1]:
import pandas as pd

from utils import wrapper_engine, get_value_from_json_serialization
engine = wrapper_engine('config.ini')

import custom_settings
from itables import show
custom_settings.apply_itable_custom_settings()

c:\Users\vincent.ait-ammar\Documents\Répertoires\ecospheres-metadata\env\lib\site-packages\itables\javascript.py:71: UserWarning: Did you know? init_notebook_mode(all_interactive=False, connected=True) does nothing. Feel free to remove this line, or pass warn_if_call_is_superfluous=False.
  warnings.warn(

In [2]:
# Load data
with engine.connect() as connection:    
    package_extra = pd.read_sql_table(
        table_name="package_extra", 
        con=connection,
        schema="public",
        )
    
package_extra = package_extra[package_extra.key.isin(["crs"])].sort_values(by=["package_id", "key"])

**Nombre de datasets avec la métadonnée CRS**

In [5]:
show(package_extra[["package_id", "value"]].rename(columns={"package_id":"datasets", "value":"crs"}).describe())

In [6]:
package_extra = pd.pivot_table(package_extra, index=["package_id"], values=["value"], columns=["key"], aggfunc='first')
package_extra = package_extra.droplevel(0, axis=1).reset_index().rename_axis(columns=None)

# EPSG value - alternative approach to the split from the URI: reading the EPSG from the XML file (see utils.get_value_from_xml)
# When multiple EPSG values are available (seen only once), take first option
package_extra["EPSG"] = package_extra["crs"].apply(lambda x: get_value_from_json_serialization(x, "uri")).apply(lambda x:  x[0].split('/')[-1] if len(x) > 0 else 'Unknown')

In [7]:
package_extra[["EPSG", "package_id"]].rename(columns={"package_id":"Datasets [count]"}).groupby(["EPSG"], as_index=False).count().sort_values(by=["Datasets [count]"], ascending=False).transpose().style.hide(axis="columns")



|EPSG | Name |Area of use | Unit | Accuracy |
|:---:|---|---|:---:|:---:|
|[2154](https://epsg.io/2154) | RGF93 v1 / Lambert-93 -- France | France - onshore and offshore, mainland and Corsica (France métropolitaine including Corsica). | metre | 1.0m |
|[27561](https://epsg.io/27561) | NTF (Paris) / Lambert Nord France | France mainland onshore north of 53.5 grads North (48°09'N). | metre | 2.0m |
|[27572](https://epsg.io/27572) | NTF (Paris) / Lambert zone II | France mainland onshore between 50.5 grads and 53.5 grads North (45°27'N to 48°09'N). Also used over all onshore mainland France. | metre | 2.0m |
|[27573](https://epsg.io/27573) | NTF (Paris) / Lambert zone III | France - mainland onshore south of 50.5 grads North (45°27'N). | metre | 2.0m |
|[2972](https://epsg.io/2972) | RGFG95 / UTM zone 22N | French Guiana - east of 54°W, onshore and offshore. | metre | 1.0m|
|[3857](https://epsg.io/3857) | WGS 84 / Pseudo-Mercator -- Spherical Mercator, Google Maps, OpenStreetMap, Bing, ArcGIS, ESRI | World between 85.06°S and 85.06°N. | metre | up to 43km |
|[3947](https://epsg.io/3947) | RGF93 v1 / CC47 | France - mainland onshore between 46°N and 48°N. | metre | 1.0m |
|[3948](https://epsg.io/3948)  | RGF93 v1 / CC48 | France - mainland onshore between 47°N and 49°N. | metre | 1.0m |
|[3950](https://epsg.io/3950) |RGF93 v1 / CC50 | France - mainland onshore north of 49°N. | metre | 1.0m |
|[4171](https://epsg.io/4171) |RGF93 v1 | France - onshore and offshore, mainland and Corsica (France métropolitaine including Corsica). | degree | - |
|[4326](https://epsg.io/4326) | WGS 84 -- WGS84 - World Geodetic System 1984, used in GPS | World | degree | - |
|[4463](https://epsg.io/4463) | RGSPM06 | St Pierre and Miquelon - onshore and offshore. | degree | - |